.contacts-panel {
  margin-top: 56px;
  height: 100%;
}
.contacts-panel__content {
  height: 100%;
}

.empty {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.empty__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  opacity: .3;
}

.contact-groups-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}